.footer__link-list {
  margin: 0 18px 0 0;
}

.footer__link-list:last-of-type {
  margin: 0;
}

@media (min-width: 321px) and (max-width: 655px) {
  .footer__link-list {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 350px ) {
  .footer__link-list {
    margin-right: 0;
    margin-bottom: 32px;
  }
}