.photo-grid__list {
  max-width: calc(284px*4 + 16px*3);
  display: grid;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}


@media screen and (max-width: 1024px) {
  .photo-grid__list {
    max-width: calc(300px*3 + 14px*2);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    max-width: calc(352px*2 + 16px);
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr)); 
    gap: 16px;
  }
}

@media (min-width: 321px) and (max-width: 350px)  {
  .photo-grid__list {
    max-width: 300px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 12px; 
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__list {
    max-width: 288px;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr)); 
    gap: 12px; 
  }
}
