.footer__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

@media (min-width: 321px) and (max-width: 655px) {
  .footer__list {
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 320px ) {
  .footer__list {
    flex-direction: column;
    margin-bottom: 48px;
  }
}